.section {
    margin-top: 100px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.image-container {
    margin: 10px;
    position: relative;
}

.image-container img {
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1);
}

.image-caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .image-caption {
    opacity: 1;
}

h2 {
    font-family: Arial, sans-serif; 
    color: #C41230; 
    font-size: 24px; 
    margin-bottom: 10px;
}

p{
    font-family: Arial, sans-serif;  
    line-height: 1.6;
    text-align: center;
}