body {
  background-color: whitesmoke;
  height: 215vh;
  background-size: cover;
  padding: 10px 20px;
  margin-top: 70px;
}

h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(0, 100%, 57%);
  z-index: -1;
  transition: transform .3s ease;
}

h1 {
  position: relative;
  font-size: 70px;
  text-align: center;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

.text {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  margin-top: 30px;
  text-align: center;
  font-size: 17px;
 }

.conteneur {
    margin-top: 80px;
    border-style: inset;
    background-image: url(../images/logo_ferrari1.jpg);
    background-size: 10%; 
    background-repeat: no-repeat; 
    background-position: right;

}

h2 {
    text-align: center;
    margin-top: 70px;
}

.ferrari-enzo-description {
    margin-bottom: 50px;
}