body {
  font-family: Arial, sans-serif;
  padding: 0;
  background-image: url(../Images/background_ferrari.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding: 10px;
  text-align: center;
  height: 20px;
}

.contact-section {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: orange;
}

.contact-section h1 {
  color: #e62117;
  text-align: center;
}

.contact-info {
  margin-top: 20px;
}

.contact-info p {
  margin: 10px 0;
}

.email-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.email {
  text-align: left;
}

.email.right {
  text-align: right;
}