body {
    font-family: 'Roboto', sans-serif;
    margin: 30px;
    padding: 0;
    background-color: #f2f2f2;
    margin-top: 100px;
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="name"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}


button[type="button"]:hover {
    background-color: #45a049;
}

.search-container input[type="text2"] {
    margin-top: 3px;
    padding: 6px;
    margin-right: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
  }

