body {
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px; 
  height: auto; 
  margin-right: 15px; 
}

.menu a {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #16151b;
  margin-right: 20px;
}
nav.fixe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav {
  width: 100%;
  position: fixed;
  text-align: left;
  top: 0px;
  background-color: rgba(248, 249, 250, 0.5); 
  padding: 15px 0px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  height: 35px;
  left: 0px;
  backdrop-filter: blur(5px); 
  z-index: 100000000;
}


nav a {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #16151b;
  margin: 0 15px;
  font-size: 20px;
  position: relative;
}

nav a:hover:before {
  background: #fff; 
}


nav a {
  transition: color 0.3s ease; 
}

nav a:hover {
  color: #fff; 
}


.search-container {
  display: flex;
  margin-right: 35px;
  margin-left: auto;
}

.search-container input[type="text"] {
  padding: 6px; 
  margin-right: 10px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

.search-container button[type="submit"] {
  padding: 6px; 
  background-color: #f8f9fa; 
  border: none; 
  cursor: pointer; 
}

.search-icon {
  width: 20px; 
  height: auto; 
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider1:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider1 {
  background-color: #2196F3;
}

input:focus + .slider1 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider1:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider1.round {
  border-radius: 34px;
}

.slider1.round:before {
  border-radius: 50%;
}