table {
    margin-bottom: 10px;
    margin-left: 100px;
}
th{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    width: 800px;
}
th{
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
}

.dark-mode th {
    background-color: #333;
    color: white;
}